.lt__features {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  background: var(--color-footer);
  /* ff 3.6+ */
  background:-moz-linear-gradient(90deg, rgba(37, 60, 58, 1) 0%, rgba(45, 143, 173, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(90deg, rgba(37, 60, 58, 1) 0%, rgba(45, 143, 173, 1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(90deg, rgba(37, 60, 58, 1) 0%, rgba(45, 143, 173, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2D8FAD', endColorstr='#253C3A', GradientType=0 );

  /* ie 10+ */
  background:-ms-linear-gradient(90deg, rgba(37, 60, 58, 1) 0%, rgba(45, 143, 173, 1) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(90deg, rgba(37, 60, 58, 1) 0%, rgba(45, 143, 173, 1) 100%);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.lt__features-feature {
  display: flex;
}

.lt__features-feature .lt__features-container__feature {
  margin: 0;
}

.lt__features-feature .lt__features-container__feature-text {
  max-width: 700px;
}

.lt__features-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 2rem;
  font-family: var(--font-family);
}